<%= form_for(@actor) do |f| %>
  <%= render :partial => 'persons/shared_form_fields', :locals => { :object => @actor, :f => f } %>
  
  <div class="field">
    <%= f.label :dvd_ids, t(:dvds) %><br />
    <%= f.select :dvd_ids, Dvd.all.map {|dvd| [dvd.name, dvd.id] } , { :include_blank => true }, { :class => 'chzn-select', :multiple => true, :'data-placeholder' => t('data_placeholders.choose_dvds') } %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
    
    <% if @actor.new_record? %>
      <%= f.submit t(:create_and_add) %>
    <% end %>

  </div>
<% end %>
