<%= form_for(@actor) do |f| %>
  <% if @actor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actor.errors.count, "error") %> prohibited this actor from being saved:</h2>

      <ul>
      <% @actor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br />
    <%= f.text_field :birth_date, :class => 'datepicker' %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.gender_select :gender %>
  </div>
  
  <div class="field">
    <%= f.label :dvd_ids, t(:dvds) %><br />
    <%= f.select :dvd_ids, Dvd.all.map {|dvd| [dvd.name, dvd.id] } , { :include_blank => true }, { :class => 'chzn-select', :multiple => true, :'data-placeholder' => t('data_placeholders.choose_dvds') } %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
    
    <% if @actor.new_record? %>
      <%= f.submit t(:create_and_add) %>
    <% end %>

  </div>
<% end %>
