<%= form_for(@director) do |f| %>
  <% if @director.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@director.errors.count, "error") %> prohibited this director from being saved:</h2>

      <ul>
      <% @director.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br />
    <%= f.date_select :birth_date %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  
  <div class="field">
    <%= f.label :dvd_ids, t(:dvds) %><br />
    <%= f.select :dvd_ids, Dvd.all.map {|dvd| [dvd.name, dvd.id] } , { :include_blank => true }, { :class => 'chzn-select', :multiple => true, :'data-placeholder' => t('data_placeholders.choose_dvds') } %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
