<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @director.name %>
</p>

<p>
  <b>Birth date:</b>
  <%= @director.birth_date %>
</p>

<p>
  <b>Gender:</b>
  <%= @director.gender %>
</p>


<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
