<%= form_for(@dvd) do |f| %>
  <% if @dvd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dvd.errors.count, "error") %> prohibited this dvd from being saved:</h2>

      <ul>
      <% @dvd.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :release_date %><br />
    <%= f.date_select :release_date %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :asin %><br />
    <%= f.text_field :asin %>
  </div>
    
    
  
  
  <div class="field">
    <%= f.label :actor_ids, t(:cast) %> <em>Missing actor? <a href="#new_actor_form">Add Another</a><br /></em>
    <%= f.select :actor_ids, Actor.all.map { |a| [a.name, a.id] }, { :include_blank => true }, { :class => 'chzn-select', :multiple => true, :'data-placeholder' => t('data_placeholders.choose_the_cast') } %>
  </div>
  
  <div class="field">
    <%= f.label :director_id, t(:director) %> <em>Missing director? <a href="#new_director_form">Add Another</a><br /></em>
    <%= f.select :director_id, Director.all.map { |d| [d.name, d.id] }, { :include_blank => true }, { :class => 'chzn-select', :'data-placeholder' => t('data_placeholders.choose_the_director') } %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= form_for @actor, :remote => true, :html => { :'data-type' => 'json', :id => 'new_actor_form' } do |f| %>
  <h3>Add an actor</h3>
  <%= render :partial => 'persons/shared_form_fields', :locals => { :object => @actor, :f => f } %>
  <%= f.submit %>
<% end %>

<%= form_for @director, :remote => true, :html => { :'data-type' => 'json', :id => 'new_director_form' } do |f| %>
  <h3>Add director</h3>
  <%= render :partial => 'persons/shared_form_fields', :locals => { :object => @actor, :f => f } %>
  <%= f.submit %>
<% end %>