<h1>Listing dvds</h1>



<%= form_for(:search, :url => dvds_path, :method => :get, :html => { :class => 'outlined_form' }) do |f| %>
  <h3>Search DVDs</h3>
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  
  <div class="field">
    <%= f.label :director_id, t(:director) %><br />
    <%= f.select :director_id, Director.all.map { |d| [d.name, d.id] }, { :include_blank => true }, { :class => 'chzn-select', :'data-placeholder' => t('data_placeholders.choose_a_director') } %>
  </div>
  
  <div class="field">
    <%= f.label :actor_id, t(:cast) %><br />
    <%= f.select :actor_id, Actor.all.map { |a| [a.name, a.id] }, { :include_blank => true }, { :class => 'chzn-select', :'data-placeholder' => t('data_placeholders.choose_an_actor') } %>
  </div>
  
  <%= f.submit 'Search' %>

<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Release date</th>
    <th>Summary</th>
    <th>Asin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dvds.each do |dvd| %>
  <tr>
    <td><%= dvd.name %></td>
    <td><%= dvd.release_date %></td>
    <td><%= dvd.summary %></td>
    <td><%= dvd.asin %></td>
    <td><%= link_to 'Show', dvd %></td>
    <td><%= link_to 'Edit', edit_dvd_path(dvd) %></td>
    <td><%= link_to 'Destroy', dvd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dvd', new_dvd_path %>
