<!DOCTYPE html>
<html>
<head>
  <title>CloudabilityDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav>
      <ul>
        <li><%= link_to 'DVDs', dvds_path %></li>
        <li><%= link_to 'Actors', actors_path %></li>
        <li><%= link_to 'Directors', directors_path %></li>
      </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>
